PUBLIC_OWNER_ENTITY=YOUR_NAME_OR_ENTITY
PUBLIC_SUPPORT_EMAIL=YOUR_CONTACT_EMAIL
PUBLIC_EFFECTIVE_DATE=EFFECTIVE_DATE
PUBLIC_COUNTRY_OR_JURISDICTION=YOUR_COUNTRY_OR_JURISDICTION
PUBLIC_JURISDICTION=YOUR_JURISDICTION
PUBLIC_APP_STORE_URL=APP_STORE_URL
PUBLIC_PLAY_STORE_URL=PLAY_STORE_URL
PUBLIC_COPYRIGHT_YEAR=YEAR
